.all{
  background-color: #a0a2a5;
}
.bigbutton{
    margin: auto;
    display: inline-block;
    border: 3px solid black;
    width: 50%;
    padding: 10px;
    text-align: center;
    background-color: white;
    color: black;
    font-family: "Tahoma";
}
.teampic {
  box-shadow: 0px 11px 22px -2px rgba(0,0,0,0.75);
  margin:auto;
  padding-top: 3px;
}
.rosterpic{
  box-shadow: 0px 11px 22px -2px rgba(0,0,0,0.75);
  position
  padding-top: 3px;
}
.header{
  margin: auto;
  border: 3px solid black;
  width: 40%;
  text-align: center;
  padding:5px;
  background-color:white;
  font-family: "Comic Sans MS";
box-shadow: 0px -4px 54px -9px rgba(0,0,0,0.75);
}
.navi{
  margin: auto;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-top: 3px solid black;
  width: 20%;
  text-align: center;
  padding:5px;
  background-color:white;
  font-family: "Comic Sans MS";
  box-shadow: 0px -4px 54px -9px rgba(0,0,0,0.75);
}
.bod{
  margin: auto;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border: 3px solid black;
  width: 50%;
  padding: 5px;
  text-align: center;
  background-color:white;
  font-family: "Arial";
}
.title {
  margin: auto;
  text-align: center;
  font-family: "Tahoma";
  width:45%;
  border-bottom: 3px solid black;
}
.player_title {
  margin: auto;
  text-align: center;
  font-family: "Tahoma";
  width:45%;
}
.button {
  margin: auto;
  text-align: center;
  display: inline-block;
  width: auto;
  length: auto;
  padding-left: 3px;
  padding-right: 3px;
  background-color: white;
  border: 3px solid black;
}
.button:hover{
  background-color:#d7d8d6;
}
.navt {
  font-family: "Comic Sans MS";
  font-size: 120%;
  color: black;
}
a.navt:link {
  color:black;
  text-decoration: none;
}
a.navt:visited {
  color:black;
  text-decoration: none;
}
.bodytext {
  color:black;
  font-size:150%;
  font-family: "Georgia";
}
