.cslogoimage {
  width: 40%;
  height: 40%;
}
.logoimage{
  max-width: 80%;
  height: auto;
  display:block;
}
#navbar-body-toggle{
    border:0px!important;
    background-color:white;
  }
body{
  background-color:purple;
}
.navbar{
  position:fixed;
  top:0;
  width:100%;
  z-index:1!important;
}
.container-top{
  margin-top:70px;

}
#nav-toggle{
    display:none;
  }
.list li{
  display:block;
  font-size:20px;
}
@media screen and (max-width: 700px){
  #navbar-body{
  display:none;
    }
  #nav-toggle{
    display:block;
  }
 .list li{
  display:list-item;
  font-size:20px;
}
}